*

!calculation_options.csv
!calculation_variables.csv
!processedCols.csv
!DataRequirements.md
!Docker_instructions.md
!peakData_Report.Rmd
!README.md
!report_refs.bib
!resources_and_contact.md
!Welcome*to*FREDA.md
!shiny-server.conf

!tests/screenshots/info.txt
!Data/example12T_edata.csv
!Data/example12T_emeta.csv

!global.R
!server.R
!ui.R

!helper_functions
!Observers
!Reactive_Variables
!srv_ui_elements
!tab_factories
!www
!README

